@model drinkW.Models.Consumo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipienteConsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipienteConsumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamanhoConsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamanhoConsumo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
